.button-color,
.button-white {
  min-width: 170px;
  height: 54px;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .button-img {
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.button-color {
  background: $portfolio-deep;
  color: $portfolio-white;
}

.button-white {
  width: 170px;
  height: 54px;
  background: $portfolio-white;
  color: $portfolio-deep;
  border-radius: 8px;
}

.portfolio-logo {
  font-family: "Autography", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 48px !important;
  line-height: 91px !important;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $portfolio-deep;
  text-decoration: none !important;
}

.white {
  color: $portfolio-white;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 135px 0 135px;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    $portfolio-background 70%,
    $portfolio-deep 0%
  );

  a {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    &:hover {
      text-decoration: underline;
    }
  }

  &-link-1 {
    color: $portfolio-text;
  }

  &-link-2 {
    color: $portfolio-white;
  }

  .header-left {
    width: 50%;
    display: flex;
    align-items: center;
  }

  #nav-check {
    display: none;
  }

  .header-mid {
    display: none;
    padding-left: 30px;
    cursor: pointer;
    padding-left: 30px;
    transition: all 0.5s ease-out;

    &-item {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: $portfolio-white;
      transition: all 0.5s ease-out;
    }
  }

  .header-dropdown {
    display: none;
  }

  .header-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.landing {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 10px;
  background: linear-gradient(
    to right,
    $portfolio-background 70%,
    $portfolio-deep 0%
  );
  top: 80px;
  margin-top: 70px;
  padding: 70px 135px;
  min-height: 600px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &-left {
    width: 100%;

    p {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: $portfolio-text;
    }

    h1 {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 65px;
      color: $portfolio-text;

      span {
        color: $portfolio-deep;
      }
    }

    h3 {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: $portfolio-text;
    }

    h5 {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $portfolio-text;
      margin-bottom: 32px;
    }

    &-underlay {
      display: flex;
      flex-direction: end;
      margin-left: 35px;
      margin-bottom: 30px;
    }
  }

  &-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .social-circle,
    .image-circle {
      width: 508px;
      height: 508px;
      border-radius: 50%;
    }

    .social-circle {
      border: 1px solid $portfolio-deep;
      position: relative;
    }

    .image-circle {
      position: relative;
      background: $portfolio-deep;
      margin-top: 23px;
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;

      .my-image {
        width: 450px;
        height: 450px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .white-dots {
      position: absolute;
      right: 0;
      top: 16px;
      right: 0px;
    }

    .coloured-dots {
      position: absolute;
      bottom: -15px;
      left: 35px;
    }

    .social-icons {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $portfolio-deep;

      &-img {
        width: 25px;
        height: 25px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .github {
      left: 60px;
      top: 30px;
    }

    .linkedin {
      left: -5px;
      top: 110px;
    }

    .twitter {
      left: -30px;
      bottom: 250px;
    }

    .instagram {
      left: -15px;
      bottom: 150px;
    }
  }
}

.about {
  background-image: url("../assets/about-me.svg");
  background-repeat: no-repeat;
  min-height: 500px;
  padding: 80px 135px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  box-sizing: border-box;
  align-items: center;

  &-left {
    height: 500px;
    width: 100%;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  &-right {
    p {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: $portfolio-deep;
      margin-bottom: 10px;
    }

    h3 {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: $portfolio-text;
      margin-bottom: 30px;
    }
  }
}

.portfolio {
  width: 100%;
  min-height: 500px;
  margin-top: 50px;
  padding: 0 135px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $portfolio-deep;
    margin-bottom: 10px;
  }

  h3 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: $portfolio-text;
  }

  &-section {
    margin-top: 40px;
    width: 100%;
    min-height: 300px;

    &-item {
      width: 90%;
      min-height: 300px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      align-items: center;
      margin: 0 auto;
    }

    &-info {
      h1 {
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        color: $portfolio-text;
      }

      p {
        margin: 20px 0;
        color: $portfolio-text;
      }
    }

    &-image {
      width: 100%;
      max-height: 300px;
      border-top: 14px solid $portfolio-deep;
      border-bottom: 14px solid $portfolio-deep;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .carousel {
    margin-top: 40px;
    display: flex;
    display: flex;
    width: 100%;
    justify-content: center;

    &-item {
      width: 48px;
      height: 48px;
      background: $portfolio-deep;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.contact {
  padding: 70px 135px;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &-background {
    background: $portfolio-deep;
    min-height: 200px;
    width: 100%;
    padding: 36px 50px;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    border-radius: 8px;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      color: $portfolio-white;
    }

    p {
      margin-top: 10px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: $portfolio-white;
    }

    a {
      display: flex;
      align-self: center;
      justify-self: center;
    }
  }
}

.footer {
  background: $portfolio-dark;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .social-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $portfolio-white;
    margin-right: 30px;

    &-img {
      width: 25px;
      height: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .social-links {
    margin-top: 25px;
    display: flex;
  }

  span {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $portfolio-white;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .button-color,
  .button-white {
    font-size: 16px;
  }

  .header {
    padding: 15px 35px 0 35px;

    .header-mid {
      display: block;
    }

    .header-right {
      display: none;
    }

    #nav-check:checked ~ .header-dropdown {
      position: absolute;
      background: $portfolio-white;
      top: 100%;
      left: 0;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 10;
      height: 100vh;
      width: 100%;

      a {
        margin-bottom: 90px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-child(1) {
        transition-delay: 0.1s;
      }

      &:nth-child(2) {
        transition-delay: 0.2s;
      }

      &:nth-child(3) {
        transition-delay: 0.3s;
      }

      &:nth-child(4) {
        transition-delay: 0.4s;
      }
    }

    #nav-check:checked ~ .header-mid {
      .header-mid-item:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .header-mid-item:nth-child(2) {
        opacity: 0;
      }

      .header-mid-item:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }

  .landing {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
    background: none;

    &-left {
      width: 100%;

      p {
        font-size: 20px;
        line-height: 32px;
      }

      h1 {
        font-size: 40px;
        line-height: 60px;

        span {
          color: $portfolio-deep;
        }
      }

      h3 {
        font-size: 32px;
      }

      h5 {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;

        br {
          display: none;
        }
      }
    }

    &-right {
      display: none;
      margin-top: 50px;

      .social-circle,
      .image-circle {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }
  }

  .about {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-right h3 {
    font-size: 16px;
  }

  .portfolio {
    padding: 0 40px;

    p {
      font-size: 16px;
      line-height: 22px;
    }

    h3 {
      font-size: 32px;
      line-height: 42px;
    }

    &-section {
      &-item {
        display: grid;
        grid-template-columns: 1fr;

        &-image {
          width: 100%;
          max-height: 200px;
          border-top: 14px solid $portfolio-deep;
          border-bottom: 14px solid $portfolio-deep;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .image {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .carousel {
      margin-top: 40px;
      display: flex;
      display: flex;
      width: 100%;
      justify-content: center;
      cursor: pointer;

      &-item {
        width: 38px;
        height: 30px;
        background: $portfolio-deep;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .contact {
    padding: 40px;

    &-background {
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;

      h1 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }

      a {
        margin-top: 20px;
      }
    }
  }

  .landing-left-underlay {
    margin-left: 0px;
  }

  .portfolio-logo {
    font-size: 30px !important;
    line-height: 31px !important;
  }
}
