.loader {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $portfolio-background;
  display: flex;
  justify-content: center;
}

.loader-text {
  margin: 0;
  padding: 0;
  margin-top: 25vh;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $portfolio-deep;
}

.loader-letter {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.first {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.second {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.third {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.fourth {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
}

.fifth {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.sixth {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.seventh {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
