body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: "Autography";
  font-style: normal;
  src: url("../src/fonts/Autography.otf");
}
